/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  /* font-size: 1.4rem; */
}


/* todo ##UTILS */

button {
  background-color: #0061ff;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 1rem;
}

.button-secondary {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid black;
  color: black;
  font-size: 1rem;
}


li {
  list-style-type: none;
}

header a:link, 
header a:visited {
  color: black;
  text-decoration: none;
}


.container {
  width: 60%;
  margin: 0 auto;
}

.container.container-wider {
  width: 70%;
}

.title-h2 {
  font-size: 3rem;
}

#title-red {
  color: #61082b;
}

.hr {
  width: 150px;
  height: 1px;
}


/*todo === HEADER === */

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

/* jumbotron */

.jumbotron {
  padding-top: 4rem;
  background-color: #b4d0e7;
  height: 700px;
}

.jumbotron h1 {
  font-size: 5rem;
}

.wrapper-jumbo {
  width: 90%;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.wrapper-colonna-testo {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.jumbo-colonna {
  width: 500px;
}

#jumbo-colonna-btn {
  width: 200px;
  padding: 15px 0;
}

#jumbo-img {
  width: 820px;
}

.fa-arrow-down {
  font-size: 3rem;
}


/* nav */

.wrapper-nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  padding: 20px;
}


/* === MAIN === */

section {
  margin: 90px auto;
}


/* todo === PRIMA SEZIONE === */


.wrapper-prima-riga {
  height: 150px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-bottoni li {
  display: inline-block;
}

.little-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.little-btn.clicked {
  border: 5px solid #0061ff;
}


/* ===================== */

.wrapper-columns-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  width: calc(100% / 3 - 30px);
  border: 1px solid #999;
}

.col li {
  padding: 5px 0;
}

.col button {
  margin-bottom: 20px;
}


.icon-title {
  text-align: center;
  border-bottom: 1px solid #999;
  padding: 10px 0;
}


/* divisione dentro colonna */


.column-top {
  min-height: 310px;
  padding: 20px 20px 0 20px;
  /* background-color: rgb(248, 248, 161); */
}

.column-middle {
  padding: 20px;
}

.column-bottom {
  padding: 20px;
  /* background-color: rgb(248, 248, 161); */
  min-height: 250px;
}

.fa-check {
  color: #0061ff;
}

.hr-column {
  width: 15%;
  background-color: black;
  margin-top: 40px;
}

/* ===================== */

.card-horizontal {
  margin-top: 30px;
  border: 1px solid #999;
}

.wrapper-horizontal {
  display: flex;
  margin: 30px 20px;
  flex-direction: row;
  gap: 70px;
}

.inside-wrapper-horizontal-left {
  width: 70%;
}

.inside-wrapper-horizontal-right {
  width: 30%;
}

.inside-wrapper-horizontal-right button {
  width: 100%;
}

/* ===================== */

#container-partner-dropbox {
  margin-top: 90px;
}

.wrapper-partner-dropbox {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

#img-partner {
  width: 45%;
}

.wrapper-partner-caption {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper-partner-caption button {
  width: 200px;
}


/* todo === SECONDA SEZIONE: BUSINESS TOOLS === */


.wrapper-prima-riga-tools {
  height: 100%;
}

.col-tools {
  border: none;
}

.col-tools img {
  width: 100%;
}

.wrapper-horizontal-tools {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}


/* todo === TERZA SEZIONE: FASCIONE coi quadrati e fascia azzurra === */

.brand-wrapper {
  display: flex;
  flex-direction: row;
  /* debug */
  height: 500px;
}

.brand-col-1, 
.brand-col-3 {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.brand-col-1 div, .brand-col-3 div {
  height: 50%;
  width: 50%;
}

.brand-col-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-col-1 img,
.brand-col-3 img {
  width: 50%;
  filter: invert(100%);
}

.brand-col-2 {
  width: calc(100% / 3);
  height: 100%;
  padding: 40px;
  background-color: #e2e2e2;
}

.brand-col-2 img {
  width: 40%;
}

.hr.hr-box {
  background-color: black;
  margin: 30px 0;
}

.brand-col-2 p {
  margin: 30px 0;
}

.brand-col-3 {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.brand-col-3 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-col-3 div img {
  width: 50%;
}

.designit-green {
  display: block;
  background-color: #a2d39b;
  border: 15px solid #d1e9cd;
}

.asu {
  background-color: #61082b;
}

.uf {
  background-color: #0093ce;
}

.topps {
  background-color: red;
}

.world-bicycle-relief {
  background-color: #d5001f;
}

.hearst {
  background-color: #b4d0e7;
}

.lonely-planet {
 background-color: #0d2481; 
}

.clear-channel {
 background-color: #ffd830;
}

.free-trial {
  background-color: lightblue;
  padding: 50px 0;
}

.card-horizontal-free-trial {
  border: none;
}

.wrapper-horizontal-free-trial {
  gap: 130px;
  margin: 30px 0;
}

.wrapper-horizontal-free-trial button {
  border: none;
}

/* todo === QUARTA SEZIONE: FAQ === */

.title-faq {
  padding: 20px 0;
}

.faq-row {
  padding: 30px 0;
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.faq-row:last-child {
  border-bottom: 1px solid black;
}



/* todo === FOOTER === */

footer {
  background-color: black;
  color: white;
  padding: 5px 0;
}

footer h2 {
  padding-bottom: 30px;
}

footer li {
  padding: 5px 0;
}

footer a:link,
footer a:visited {
  color: white;
  text-decoration: none;
}

.wrapper-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper-footer-top {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.hr.hr-footer {
  background-color: #fff;
}

.wrapper-footer-bottom {
  padding: 35px 0;
}