/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  /* font-size: 1.4rem; */
}


/* todo ##UTILS */

 
button {
  background-color: #0061ff;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 1rem;
}


li {
  list-style-type: none;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}


.container {
  /* width: 47%; */
  width: 60%;
  margin: 0 auto;
  /* debug */
  height: 100%;
  border-left: 3px dashed red;
  border-right: 3px dashed red;
}

.container.container-wider {
  width: 70%;
  border-left: 3px dashed green;
  border-right: 3px dashed green;
} 


/* HEADER */


.header-top {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: sticky; /* é da sistemare, scende solo fino al jumbotron */
  top: 0;
}

/* jumbotron */

.jumbotron {
  padding-top: 4rem;
  background-color: #b4d0e7;
  height: 700px;

}

.jumbotron h1 {
  font-size: 5rem;
}

.wrapper-jumbo {
  width: 90%;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  /* background-color: rgb(95, 116, 109); */
}

.wrapper-colonna-testo {
  display: flex;
  width: 400px;
  flex-direction: column; 
  justify-content: space-between;
  min-height: 400px;
}


.jumbo-colonna {
  width: 500px;
}

#jumbo-colonna-btn {
  width: 200px;
  padding: 15px 0;
}


/* .wrapper-img {

} */



#jumbo-img {
  width: 820px;
}

.fa-arrow-down {
  font-size: 3rem;
}

/* nav */


.wrapper-nav {
  display: flex;
  align-items: center;
}


nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  padding: 20px;
}




/* todo === MAIN === */

section {
  margin: 90px auto;
  border-top: 2px dashed purple;
  border-bottom: 2px dashed purple;
}


/* todo === PRIMA SEZIONE === */

/*
section#business-plan {
  background-color: rgb(226, 218, 177); yellow
}
*/

.wrapper-business-plan {
  display: flex;
  /* margin: 90px auto; */
  flex-direction: column;
  /* debug */
  /* width: 1000px; */
}

/* ===================== */

.wrapper-prima-riga {
  height: 150px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* debug */
  /* border: 2px dashed black; */
}

.wrapper-prima-riga h2 { font-size: 3rem;}

/* .wrapper-bottoni { */
  /* debug */
  /* border: 2px dashed black; */
/* } */

.wrapper-bottoni li {
  display: inline-block;
}


/* ===================== */

.wrapper-columns-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 100%; */
  height: 700px; /* !Se tolgo questa perdo degli allineamenti */
  /* debug */
  /* border: 2px dashed black; */
}


.col {
  width: calc(100% / 3 - 30px);
  border: 1px solid #999;
}

.icon-title {
  text-align: center;
  border-bottom: 1px solid #999;
  height: 40px;
}


/* divisione dentro colonna */



.wrapper-dentro-colonna {
  height: 700px;
}

.colonna-sezione-top {
  /* height: 18%; */
  margin-bottom: 20px;
  padding: 20px;
  /* debug */
  /* background-color: rgb(212, 171, 171); */
}

.colonna-sezione-middle {
  height: 36%; /* !questa altezza mi fa allineare gli elementi centrali della colonna */
  padding: 10px;
  /* debug */
  /* background-color: rgb(212, 171, 171); */
}

.colonna-sezione-bottom {
  /* height: 36%; */
  margin-top: 20px;
  /* debug */
  /* background-color: rgb(212, 171, 171); */
}



/* ===================== */

.card-enterprise {
  margin-top: 30px;
  height: 250px;
  border: 1px solid #999;
}


.wrapper-enterprise {
  display: flex;
  /* height: 200px; */
  margin: 30px 20px;
  flex-direction: row;
  gap: 70px;
  /* debug */
  /* border: 2px dashed orange; */
}

.inside-wrapper-enterprise-left {
  width: 70%;
  /* background: rgb(196, 233, 196); */
}

.inside-wrapper-enterprise-right {
  width: 30%;
  /* background: rgb(196, 233, 196); */
}

.inside-wrapper-enterprise-right button {
  width: 100%;
}

/* ===================== */

#container-partner-dropbox {
  margin-top: 90px;
}


.wrapper-partner-dropbox {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

#img-partner {
  /* width: 600px; */
  width: 45%;
}

.wrapper-partner-caption {
  /* width: 400px; */
  width: 40%;
  /* background-color: rgb(207, 207, 170); */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
}

.wrapper-partner-caption button {
  width: 200px;
}

/* todo === SECONDA SEZIONE === */


.wrapper-columns-tools {
  height: 100%;
}


.col-tools {
  height: 100%;
  /* border: 2px dashed lime; */
  border: none;
}

.col-tools img {
  width: 300px;
}

.wrapper-enterprise-tools {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

/* todo === TERZA SEZIONE: FASCIONE coi quadrati === */


.brand-wrapper {
  /* debug */
  height: 400px;
  background-color: rgb(231, 99, 76);
}


.free-trial {
  background-color: lightblue;
  height: 200px;
}




/* FOOTER */

footer {
  background-color: black;
  height: 300px;
}